.backgroundColor{
    -fx-background-color: linear-gradient(#FFFFFF 15%, #61D8DE 65%, #FFFFFF 100%);
}
.backgroundColor_right{
    -fx-background-color: linear-gradient(to right,#61D8DE, #CCCCCC);
}

.title-color-toright{
	-fx-text-fill: linear-gradient(to right,#468ceb, #fff);
}

.title-color-toleft{
	-fx-text-fill: linear-gradient(to left,#468ceb, #fff);
}

.root {
     -fx-background-image: url('file:C:/Users/Nghi/eclipse-workspace/QLCF/src/image/background1.png');
     -fx-background-size: 100% 100%;

}