
.search-box{
	-fx-background-color : #ffffff;
	-fx-background-radius : 100;
}

.gridPane{
	-fx-background-color: linear-gradient(to right, #DECBA4, #3E5151);
	-fx-background-radius: 10 0.0 0 10;
	-fx-border-radius: 10 0 0 10 ;
	-fx-border-color:transparent;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.search-button{
    -fx-background-color: #828282;
    -fx-background-radius: 30;
}

.right-bar{
    -fx-background-color: #D3D3D3;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.chosen-fruit-card{
    -fx-background-color: #F16C31;
    -fx-background-radius: 30;
}

.comboBox{
    -fx-background-color: rgba(255,255,255,0.3);
    -fx-background-radius: 30;
}

.add-btn{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}

.free-delivery-card{
    -fx-background-color: #D3D3D3;
    -fx-background-radius: 30;
}

.shopping-online-card{
    -fx-background-color: #BAEAC3;
    -fx-background-radius: 30;
}

.fruit-item{
    -fx-background-color: #FFFFFF;
        -fx-background-radius: 30;
}

.hover_pane:hover{

	-fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.2), 10.0 , 0.0 , 0.0 ,10.0);
	-fx-border-color:  #242631;
	-fx-border-radius: 30;

}

.hover_pane:pressed{
	-fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.4), 10.0 , 0.0 , 0.0 ,10.0);
	-fx-border-color:  #000;
	-fx-border-radius: 30;
	-fx-border-width: 3;
}

.hover_pane:focused{
	-fx-border-color:  #000;
	-fx-border-radius: 30;
	-fx-border-width: 3;
}

.table-cell
{
    -fx-text-fill: black;
}

.table-view .column-header{
	-fx-border-style: none;
    -fx-border-width:0;
    -fx-border-color:#00306A;
}

.table-view .column-header .label {
	-fx-background-color:  #00306A;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    
}

.table{
	-fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.7), 15, 0.5, 3, 3);
}

.table-row-cell:hover {
	-fx-font-weight: bold;
    -fx-background-color: #828282;
  
}
.table-row-cell:focused{
	-fx-background-color: #2D3031;
    -fx-text-background-color: #fff;
}


